powsybl-geo-data-model/src/main/resources/xsd/lineGeoData.xsd



<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.itesla_project.eu/schema/iidm/ext/lineGeoData/1_0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="line-geo-data">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="coordinate" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute type="xs:float" name="lon" use="optional"/>
                                <xs:attribute type="xs:float" name="lat" use="optional"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="coordinatesCount"/>
        </xs:complexType>
    </xs:element>
</xs:schema>

