geo-data-model/src/main/resources/xsd/substationGeoData.xsd

<xs:schema
           elementFormDefault="qualified"
           targetNamespace="http://www.itesla_project.eu/schema/iidm/ext/substationGeoData/1_0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="substation-geo-data">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute type="xs:string" name="id"/>
                    <xs:attribute type="xs:float" name="lat"/>
                    <xs:attribute type="xs:float" name="lon"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
</xs:schema>

